DATABASE_URL=postgres://t2t:t2t_secret@localhost/tunnel2tunnel
HTTP_PORT=3000
SSH_PORT=2222
ADMIN_USERNAME=admin
ADMIN_PASSWORD=changeme
RUST_LOG=info
SSH_HOST_KEY_PATH=data/ssh_host_key
# SSH_T2T_KEY_PASSWORD=changeme
FAIL2BAN_LOG_PATH=
